.DS_Store
*__pycache__
*.pyc
*.pyd
build/
venv*/
*.o
cov_*
.cov_*
.cache
docs/_build
x.log
*.egg
.idea
venv/
scratch/
line_profiler/
OpenBLAS/
CaseStudy/
.eggs/
examples/develop-example/
.coverage
zzz_outputs/
examples/1_banana_explore
examples/2_bimodal_explore
examples/3_unimodal_explore
